:root{
    --base: #705f50;
    --spacing: 10px;
    --blur: 10px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1{
    color: var(--base);
}

body{
    text-align: center;
    background: #9f8c7c;
    color: #ffffff;
    font-family: sans-serif, 'helvetica neue';
    font-weight: 100;
    font-size: 50px;
}

.controls{
    margin-bottom: 50px;
}

input{
    width: 100px;
}